<%- contentFor('body') %>
  <main class="grid grid-rows-2 grid-cols-3 gap-5 m-5">
    <section class="inset-y-0 z-10 flex w-full h-80 dark:bg-gray-800 rounded-lg bg-slate-200 flex-col p-6">
        <!-- Profile -->
        <div class="w-40 sm:w-64">
          <img src="/img/pp.jfif" alt="profile picture" class="rounded w-20 h-20">
        
          <h1 class="font-bold mt-4 text-xl">Mohammad Alam Barkani</h1>
          <div class="flex gap-5">
            <svg class="w-3 h-3 mt-2 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path d="M19.728 10.686c-2.38 2.256-6.153 3.381-9.875 3.381-3.722 0-7.4-1.126-9.571-3.371L0 10.437V18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-7.6l-.272.286Z"/>
              <path d="m.135 7.847 1.542 1.417c3.6 3.712 12.747 3.7 16.635.01L19.605 7.9A.98.98 0 0 1 20 7.652V6a2 2 0 0 0-2-2h-3V3a3 3 0 0 0-3-3H8a3 3 0 0 0-3 3v1H2a2 2 0 0 0-2 2v1.765c.047.024.092.051.135.082ZM10 10.25a1.25 1.25 0 1 1 0-2.5 1.25 1.25 0 0 1 0 2.5ZM7 3a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1v1H7V3Z"/>
            </svg>
            <p class="mt-0.5 dark:text-gray-400">Game Developer</p>
          </div>
          
        </div>
        <!-- Contact Details -->
        <div class="mt-3 w-full">
          <h2 class="dark:text-gray-400">Phone Number</h2>
          <div class="flex w-full gap-2 items-center">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="w-4 h-4">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 002.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 01-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 00-1.091-.852H4.5A2.25 2.25 0 002.25 4.5v2.25z" />
            </svg>
            <p class="dark:text-white font-medium">+62 812-3446-0175</p>
          </div>
          <h2 class="dark:text-gray-400 mt-5">Email Address</h2>
          <div class="flex w-full gap-2 items-center">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="w-4 h-4">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75" />
            </svg>
            <p class="dark:text-white font-medium">alambarkani@gmail.com</p>
          </div>
        </div>
    </section>
    <section class="flex flex-col items-center justify-start col-span-2 row-span-2 p-6 dark:bg-gray-800 rounded-lg">
      <div class="mb-4">
        <h1 class="text-center font-bold text-green-700 text-4xl mb-3">Professional Profile</h1>
        <p class="text-justify mx-4">A passionate gameplay programmer with a keen eye for detail and a commitment to delivering high-quality
          gaming experiences. Proficient in C# and C++, I specialize in crafting interactive and dynamic game mechanics
          that enhance player engagement. My dedication to staying current with industry trends ensures that my work
          reflects the latest advancements in game development.</p>
      </div>
      <div class="mt-4">
        <h1 class="text-center font-bold text-green-700 text-4xl mb-3">Education</h1>
        <p class="text-justify mx-4">Under Graduate</p>
      </div>
    </section>
    <section class="flex flex-col dark:bg-gray-800 rounded-lg p-6">
      <div class="mb-4">
        <h2 class="font-bold text-xl">Skills</h2>
        <div class="mt-4">
          <span class="bg-blue-100 text-blue-800 text-base font-medium me-2 px-2.5 py-2 rounded dark:bg-blue-300 dark:text-blue-900">Game development</span>
          <span class="bg-blue-100 text-blue-800 text-base font-medium me-2 px-2.5 py-2 rounded dark:bg-blue-300 dark:text-blue-900">Pixel Art</span>
        </div>
      </div>
    </section>
  </main>